$text-primary: #605968;
$text-secondary:#e1e4e1;
$text-succes:#559471;
$text-danger:#ffffff;
$text-warning:#dda918;
$text-info:#789b88;
$tex-light:$text-primary;
$text-dark:#388285;
$text-muted:$text-danger;
$text-white:$text-danger;
$primary:#259599;
$secondary:#90b19f;
$danger:#c4270c;
$dark:#cfcfcf;
